.footerImg img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: center;
}

.footerNav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.footerNav ul {
  padding: 0;
  margin: 0;
}

.footerNav li {
  list-style: none;
}

.footerNav a {
  color: #5470d3;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 0;
  transition: color 0.3s;
}
