@import url(/css/header.css);
@import url(/css/footer.css);
@import url(/css/styles.css);

/* INTRO SECTION START */

.introSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 50px;
}
.introHeader,
.fedHeader,
.designHeader {
  color: #5470d3;
  margin-bottom: 30px;
  margin-top: 30px;
}

.introHeader h1,
.fedHeader h1,
.designHeader h1 {
  font-size: 3.5em;
  font-weight: 900;
}

.introSection p {
  line-height: 1.8;
  color: #5470d3;
}

.introLeft {
  display: flex;
  flex-direction: column;
  margin-right: 150px;
  margin-left: 50px;
  width: 90%;
  max-width: 100%;
}

.introText {
  width: 160%;
  margin-bottom: 20px;
}

.introText p {
  letter-spacing: 2px;
}

.introText button {
  margin: 20px;
  background-color: #5470d3;
}

.introText button a {
  color: white;
  text-decoration: none;
}

.introText button:hover {
  transform: scale(1.05);
  background-color: #5470d3;
}
.introRight {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
}

.fedText,
.designText {
  width: 80%;
  margin-bottom: 20px;
}

/* INTRO SECTION END  */

/*EXPERIENCE SECTION START*/

.experience {
  background-color: #5470d3;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  padding: 50px;
}

.experienceHeader {
  color: white;
  margin-bottom: 50px;
  margin-top: 50px;
}

.experienceHeader h2 {
  font-size: 3.5em;
  font-weight: 900;
}

.experienceHeader .experienceText {
  width: 90%;
}

.experienceText p {
  line-height: 1.8;
  color: white;
  margin-bottom: 50px;
}

.experienceLeft {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 150%;
}

.experienceRight {
  display: flex;
  justify-content: right;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px;
  padding-right: 150px;
}

/*EXPERIENCE SECTION END*/

/*PROJECTS SECTION START*/

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.projectsHeader h2 {
  font-size: 3.5em;
  font-weight: bold;
  color: #5470d3;
  text-align: center;
}

.projectsText {
  max-width: 800px;
  margin: 40px 0;
}

.projectsText p {
  font-size: 1.2em;
  color: #5470d3;
  text-align: center;
  line-height: 1.6;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.projectCard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.projectImage img {
  max-width: 100%;
}

.projectImage img {
  max-width: 100%;
  transition: transform 0.5s;
}

.projectImage img:hover {
  transform: scale(1.1);
}

/*PROJECTS SECTION END*/

/*CONTACT SECTION START*/

.contact {
  background-color: #5470d3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.contactHeader h2 {
  font-size: 3.5em;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.contactText {
  max-width: 800px;
  margin: 40px 0;
}

.contactText p {
  font-size: 1.2em;
  color: #ffffff;
  text-align: center;
  line-height: 1.6;
}

.contactText button {
  margin: 20px;
}

.button {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 20px;
  color: #5470d3;
  cursor: pointer;
  font-size: 2rem;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  transition: transform 0.5s;
  border: none;
  margin: 10px;
}

.btn-container {
  text-align: center;
  margin-top: 20px;
}

.button:hover {
  transform: scale(1.05);
  background-color: #f0f0f0;
}

/*CONTACT SECTION END*/

@keyframes fadeIn {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

body * {
  animation: fadeIn 1.5s ease-out;
}

.blur-out {
  opacity: 0;
  filter: blur(10px);
  transition: opacity 1.5s ease-out, filter 1.5s ease-out;
}

.fade-in {
  animation: fadeIn 1.5s ease-out forwards;
}

@media (max-width: 480px) {
  .introSection {
    flex-direction: column;
    margin-top: 20px;
    width: 50%;
  }

  .introLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0;
    margin-left: 15%;
    width: 100%;
  }

  .introSection h1 {
    font-size: 2em;
    text-align: center;
    margin-left: 45%;
  }

  .introText p {
    text-align: center;
    font-weight: lighter;
    font-size: 1em;
    line-height: 1.2em;
  }

  .introText button {
    margin-left: 30%;
    background-color: #5470d3;
    padding: 10px 20px; /* Adding padding to the button */
    border: none; /* Optional: Remove border if any */
    font-size: 1em; /* Ensuring the button text is of readable size */
  }

  .introText button a {
    font-size: small;
    color: white;
    text-decoration: none;
  }

  .introRight {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10%;
    width: 100%;
    height: 100vh; /* Full height to center vertically */
  }

  .introRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-right: 200px;
    width: 90%;
  }

  .fedText,
  .designText {
    width: auto;
    text-align: center;
    font-weight: lighter;
    font-size: 0.5em;
    line-height: 1em;
  }
}
