@import url(../css/header.css);
@import url(../css/footer.css);
@import url(../css/styles.css);

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 5% 0;
}

.introHeader {
  color: #5470d3;
  margin-bottom: 10px;
  margin-top: 30px;
  width: 60%;
}

.introHeader h1 {
  font-size: 3.5em;
  font-weight: 900;
}

.introText {
  width: 60%;
  margin-bottom: 20px;
}

.introText p {
  line-height: 1.8;
  color: #5470d3;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.projectsText {
  max-width: 800px;
  margin: 40px 0;
}

.projectsText p {
  font-size: 1.2em;
  color: #5470d3;
  text-align: center;
  line-height: 1.6;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.projectCard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.projectImage img {
  max-width: 100%;
}

.projectImage img {
  max-width: 100%;
  transition: transform 0.5s;
}

.projectImage img:hover {
  transform: scale(1.1);
}

/* media queries for big screens */

@media screen and (min-width: 1710px) {
  main {
    margin: 5% 10%;
  }

  .introHeader {
    margin-top: 50px;
  }

  .introText {
    margin-top: 5%;
    width: 70%;
    display: flex;
    justify-content: center;
  }

  .introText p {
    font-size: 1.2em;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .projectCard {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
  }

  .projectImage img {
    max-width: 100%;
  }

  .projectImage img {
    max-width: 100%;
    transition: transform 0.5s;
  }

  .projectImage img:hover {
    transform: scale(1.1);
  }
}

@media screen and (min-width: 1024px) {
  main {
    margin: 5% 5%;
  }

  .introHeader {
    margin-top: 50px;
  }

  .introText {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: left;
  }

  .introText p {
    font-size: 1.2em;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .projectCard {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
  }

  .projectImage img {
    max-width: 100%;
  }

  .projectImage img {
    max-width: 100%;
    transition: transform 0.5s;
  }

  .projectImage img:hover {
    transform: scale(1.1);
  }
}

/* media queries for iphone x */

@media screen and (max-width: 375px) {
  .introHeader {
    margin-top: 50px;
  }

  .introHeader h1 {
    display: flex;
    justify-content: left;
    padding-right: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.5em;
  }

  .introText {
    margin-top: 5%;
    width: 80%;
  }

  .introText p {
    font-size: 1em;
  }

  .cards {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    justify-content: left;
  }

  .projectCard {
    width: 300px;
    height: auto;
  }

  .projectImage img {
    width: 200px;
    max-width: 300px;
  }
}
